<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments/fragments :: head">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WNSDDWG');</script>
<!-- End Google Tag Manager -->



  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNSDDWG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div th:replace="fragments/fragments :: navbar" ></div>
 
  <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="container">
              <h1 class="display-3">Astro Wares</h1>
              <p>Head to the Sign In/Up page to get started! <br>We are your one stop shop for everything your sign desires!
                <br>Find accessories for your Zodiac vibe!
              </p>
              <p><a class="btn btn-primary btn-lg" href="/about" role="button">Meet the team! &raquo;</a></p>
          </div>
      </div>
 
      <div class="container">
          <div class="row">
       		 <div class="card col-md-3 small-product-card"  th:each="product:${products}">
                    <a  th:href="@{/product/{id}(id=${product.getId()})}"><img th:alt="${product.name}" th:src="@{${product.image}}" class="card-img"/></a>
                    <div class="card-body">
                    	<div class="card-title">
                        	<h4 th:text="${product.name}"></h4>
                        	<small th:text="${product.getSign()}"></small>
                    	</div>
                	</div>    
        		</div>
    		</div>
  		</div>
  </main>

 
  <footer th:replace="fragments/fragments :: footer"></footer>
        <script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.defer = true;
    mf.src = "//cdn.mouseflow.com/projects/116e40a3-d7db-4156-b121-585e627109c1.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script> 
  </body>
  </html>
